[submodule "scroll-prover"]
	path = scroll-prover
	url = git@github.com:scroll-tech/scroll-prover.git
[submodule "halo2"]
	path = halo2
	url = git@github.com:scroll-tech/halo2.git
[submodule "polygon-zkevm-prover"]
	path = polygon-zkevm-prover
	url = git@github.com:0xPolygonHermez/zkevm-prover.git
